body{
    background-color: blueviolet;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 200px;
}
fieldset{
    background-color: rgb(43, 43, 136);
    width: 500px;
    border: none;
    height: 250px;
    display: flex;
    gap: 30px;
    flex-direction: column;

}